body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
}

#Page-logo a {
  color: rgb(183, 230, 235);
}

header {
  position: static;
}
header a {
  color: rgb(183, 230, 235);
}
header nav a:hover {
  color: white;
  background-color: rgba(100, 188, 235, 0.312);
}
main ul {
  width: 1200px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}
main li {
  display: flex;
  background-color: white;
  box-shadow: 13px 12px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.Item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Item-content h2 {
  margin: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  color: rgb(100, 187, 235);
}
.Item-content p {
  font-family: "Quicksand", sans-serif;
  color: rgb(77, 80, 90);
  text-align: left;
}

.Actions {
  text-align: right;
}

.Actions a {
  color: rgb(25, 171, 250);
  text-decoration: none;
  padding: 6px;
  border-radius: 8px;
}

.Actions a:hover {
  background-color: rgba(100, 188, 235, 0.312);
}
